/*Global styling rule*/
* {
  background-color: LightGrey;
  font-family: Georgia;
  text-align: center;
}

/*Heading 1 style rule*/
h1 {
  
}

h4{
  color: Blue;
}

p{
  font-family: Arial;
  font-size: 14px;	
}